body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

/*
 *Common Styles Start
 */

/*
 *Font Classes
 */
.font-65 {
	font-size: 65px;
	font-weight: 600;
}
.font-45 {
	font-size: 45px;
	font-weight: 600;
}
.font-40 {
	font-size: 40px;
	font-weight: 600;
}
.font-23 {
	font-size: 23px;
	font-weight: 600;
}
.font-20 {
	font-size: 20px;
}
.font-18 {
	font-size: 18px;
}

/*
 *Common Styles End
 */

/*
  *carousel
  */

.carousel-caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.carousel-item {
	height: 80vh;
}
@media (max-width: 998px) {
	.font-65 {
		font-size: 30px;
		font-weight: 600;
	}
	.font-18 {
		font-size: 14px;
	}
	.carousel-caption {
		position: absolute;
		top: 44%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.carousel-item {
		height: auto;
	}
	.Ready-to-join-text {
		width: 100% !important;
	}
}
@media (max-width: 768px) {
	.font-65 {
		font-size: 20px;
		font-weight: 600;
	}
	.font-18 {
		font-size: 12px;
	}
	.course-thumbnail img {
		width: 100%;
		height: 220px;
	}
}
@media (max-width: 480px) {
	.font-65 {
		font-size: 16px;
	}
	.font-45 {
		font-size: 20px;
	}
	.font-20 {
		font-size: 12px;
	}
	.font-18 {
		font-size: 8px;
	}
	.carousel-item {
		height: auto;
	}
	.course-thumbnail img {
		width: 100%;
		height: 220px;
	}
	.carousel-caption {
		position: absolute;
		top: 48%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
